/*CSS variabele om de achtergrondkleur te wijzigen*/
:root {
  --main-bg-color: #DDD0C8;
}

/* Padding, border etc meenemen in sizing*/
* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Stijl voor de body van de pagina. De pagina wordt weergegeven als een flex-container, 
gericht in de kolomrichting, met een hoogte van 100vh (viewport hoogte). Achtergrondkleur is ingesteld. */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background: var(--main-bg-color);
}

/* Stijl voor de header. De header wordt weergegeven als een flex-container, 
waarbij de items worden gespreid en gecentreerd. */
header {
  background: var(--main-bg-color);
  padding: calc(1vw + 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*De h1 een andere font dan de res van de site. Daarnaast webkit toegepast ivm animatie*/
header h1 {
  font-family: 'Bruno Ace', sans-serif;
  background: #323232;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  font-size: 45px;
  text-align: center;
  flex-shrink: 3;
  flex-wrap: wrap;
}

/* Specificaties voor het img-element binnen de header. Afbeeldingen worden verkleind als er onvoldoende ruimte is. */
header img {
  width: 150px;
  height: 150px;
  flex-shrink: 1;
}

/* Stijl voor tekstblok. Het tekstblok wordt weergegeven als een flex-container gericht in de kolomrichting, 
waarbij de items worden gecentreerd. */
.tekstblok {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Paragrafen binnen het tekstblok worden gecentreerd. */
.tekstblok p {
  text-align: center;
}

/* Stijl voor de desktop navigatiebar. De items worden gelijkmatig verspreid. */
.desktop-nav {
  display: flex;
  justify-content: space-around;
  background: var(--main-bg-color);
  border: 1px solid #323232;
  padding: 10px;
}

/* Mobile navigatiebar wordt standaard verborgen. */
.mobile-nav {
  display: none;
}

/* Hoofdinhoud van de pagina. De main section neemt de resterende ruimte in beslag en bevat padding. */
main {
  display: flex;
  flex-grow: 1;
  background: var(--main-bg-color);
  flex-direction: column;
  padding: 20px;
}

.zoekbalk,
.tabel-container {
  display: flex;
}

.tabel-container {
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  flex: 2 1;
}

.tabel {
  width: 100%;
  align-content: center;
  border-collapse: collapse;
}

.tabel th,
.tabel td {
  text-align: left;
  padding: 10px;
  border: 1px solid #323232;
}

.tabel th {
  font-weight: bold;
}

.invenster-links {
  display: grid;
  border: 1px solid #323232;
  grid-template-columns: 1fr 1fr;
  font-size: 25px;
  align-self: auto;
  text-align: center;
}

.formuliervenster {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  flex: 2 1;
}

.form-rij {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
}

input,
select {
  grid-column: 2;
  max-width: 100%;
}

.button-link {
  display: inline-block;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header .button-link {
  margin: 5px;
}

.zoekbalk .button-link {
  margin-left: 5px;
}

.button-link:active {
  background-color: #000; 
  color: #fff; 
}

footer {
  background: var(--main-bg-color);
  padding: 20px;
  border: 1px solid #323232;
}

/* Zorgt voor de header animatie. Tekst begint 100% doorzichtig en groeit naar een grootte van 45px */
@keyframes headeranimatie {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    font-size: 45px;
  }
}

/*Mediaquery voor handheld apparaten, met o.a. het weergeven van de mobile-nav en het omzetten van één groot tabel naar meerdere,
kleine tabellen*/
@media(max-width: 500px) {
  header img {
    width: 50px;
    height: 50px;
  }

  header h1,
  .invenster-links {
    font-size: 16px;
  }

  .tabel thead {
    display: none;
  }

  .tabel,
  .tabel tbody,
  .tabel tr,
  .tabel td {
    display: block;
    width: 100%;
  }

  .tabel tr {
    margin-bottom: 15px;
  }

  .tabel td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .tabel td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
    flex-direction: column;
    background: var(--main-bg-color);
    border: 1px solid #323232;
  }

  .mobile-nav select {
    width: 100%;
    box-sizing: border-box;
  }
}

/*Animatie nvt op handheld*/
@media (min-width: 501px) {
  header h1 {
    animation: headeranimatie 2s linear;
  }
}